.innernav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}
h1{
  padding: 2rem;
}
.navbar{
    background-color: #5e5eff;
    color: white;
}
.nav-items{
    margin-right: 1rem;
    text-transform: uppercase;
}
.nav-items:hover{
    color: rgba(0, 0, 0, 0.836);
    transition: .3s;
    cursor: pointer;

}
.available{
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 2px solid;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  border-color: green;
  background-color: green;
  color: white;
}
.unavailable{
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 2px solid;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  border-color: red;
  background-color: red;
  color: white;
}
.unavailable:hover{
  background-color: white;
  color: red;
}
.available:hover{
  background-color: white;
  color: green;
}
.mess{
  display: flex;
    background: white;
    text-align: center;
    justify-content: center;
    padding: 50px;
    position: block;
    
     
}
.tablecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
